<h1>Basic Concepts</h1>

<ul>
    <li>Git controls a directory that contains the repository
        <ul>
            <li>To create an initial repository
                <ul>
                    <li><kbd>mkdir new_repo</kbd>: create a new directory</li>
                    <li><kbd>cd new_repo</kbd>: enter the new directory</li>
                    <li><kbd>git init</kbd>: prepare directory to be managed by
                        git</li>
                </ul>
            </li>
        </ul>
    </li>
    <li>Inside the directory, a hidden <samp>.git</samp> directory is created
        <ul>
            <li><kbd>ls -a</kbd>: to see it</li>
            <li>Stores copies of artefacts, meta-data and other internal files
            </li>
            <li><kbd>ls -a .git</kbd>: to see its contents</li>
        </ul>
    </li>
    <li>Git assumes ownership of the directory, and controls the artefacts
        stored in it
        <ul>
            <li><kbd>touch new_file</kbd>: adds a file to the directory</li>
            <li><kbd>git status</kbd>: shows the status of the repository</li>
            <li>The new file is in the directory, but is not tracked as a
                repository artifact</li>
        </ul>
    </li>
</ul>
