<h1>Branch</h1>

<ul>
    <li>In theory, a branch is a sequence of commits</li>
</ul>

<div class="git_tree">
    <ul data-step="0">
        <li><span class="branch">(Branch)</span> Third commit</li>
        <li>Second commit</li>
        <li>First commit</li>
    </ul>
    <ul>
        <li>Commands:
            <ul>
                <li><kbd>git branch</kbd>: list local branches</li>
                <li><kbd>git branch -a </kbd>: list all branches</li>
                <li><kbd>git branch new_branch</kbd>: create a new branch</li>
                <li><kbd>git checkout new_branch</kbd>: go to the new branch
                    </li>
                <li><kbd>git checkout branch2</kbd>: create and go to a new
                    branch </li>
            </ul>
        </li>
    </ul>
</div>

<script src="@routes.Assets.at("javascripts/git_tree_from_ul.js")">
</script>
<script src="@routes.Assets.at("javascripts/git_tree_to_svg.js")">
</script>
