<h1>Conflict Resolution Example</h1>

<ul>
    <li><kbd>git checkout -b conflict_branch first_branch</kbd></li>
    <li><kbd>git log --oneline --decorate --all --graph</kbd></li>
    <li><kbd>echo "Different line" &gt; second_file</kbd></li>
    <li><kbd>git status</kbd></li>
    <li><kbd>git add second_file</kbd></li>
    <li><kbd>git commit</kbd></li>
    <li><kbd>git log --oneline --decorate --all --graph</kbd></li>
    <li><kbd>git merge second_branch</kbd></li>
    <li><kbd>git status</kbd></li>
    <li><kbd>git diff</kbd></li>
    <li><kbd>nano second_file</kbd></li>
    <li><kbd>git add second_file</kbd></li>
    <li><kbd>git commit</kbd></li>
</ul>
