<h1>Conflict Resolution</h1>

<ul>
    <li>Conflicts happen when merging two files that were edited separately</li>
    <li>Git always tries to resolve conflicts automatically</li>
    <li>If it fails to do so, it will mark the conflict lines in the file
        <pre>
            <code>
                &lt;&lt;&lt;&lt;&lt;&lt;&lt;
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                =======
                Nam fermentum tristique massa sit amet dictum.
                &gt;&gt;&gt;&gt;&gt;&gt;&gt;
            </code>
        </pre>
    </li>
    <li>After the conflicts are resolved manually, you can commit the
        changes</li>
</ul>
