<h1>First Branch</h1>

<ul>
    <li><kbd>git branch</kbd>: list local branches (current branch has an
        asterisk next to it)</li>
    <li><kbd>git status</kbd>: also shows current branch</li>
    <li><kbd>git branch -a </kbd>: list all branches</li>
    <li><kbd>git branch first_branch</kbd>: create a new branch</li>
    <li><kbd>git branch</kbd></li>
    <li><kbd>git checkout first_branch</kbd>: go to the new branch</li>
    <li><kbd>git branch</kbd></li>
    <li><kbd>git show first_branch</kbd>: shows latest commit of the branch</li>
    <li><kbd>touch first_file</kbd>: create a new file</li>
    <li><kbd>git add first_file</kbd>: add the new file to the index</li>
    <li><kbd>git commit</kbd>: add the new file to the index</li>
    <li><kbd>git show first_branch</kbd></li>
    <li><kbd>git show first_branch~1</kbd>: show commit before the latest commit
        in the branch</li>
</ul>
