<h1>First Commit</h1>

<ul>
    <li><kbd>git add .gitignore</kbd>: add changes to index</li>
    <li><kbd>git status</kbd></li>
    <li><kbd>git commit</kbd>: create a new commit with the index
        contents</li>
    <li><kbd>git show</kbd>: show latest commit (HEAD)</li>
    <li><kbd>echo test &gt; new_file</kbd>: create a new file</li>
    <li><kbd>git status</kbd></li>
    <li><kbd>git add new_file</kbd></li>
    <li><kbd>git diff --cached</kbd></li>
    <li><kbd>git commit</kbd>: create another new commit with the
        new_file</li>
    <li><kbd>git show</kbd></li>
    <li><kbd>git checkout HEAD~1</kbd>: goes back to the previous
        commit</li>
</ul>
