<h1>Managing the Directory</h1>

<ul>
    <li>Because Git controls the repository directory, some care should be taken
        when using the directory
        <ul>
            <li>Telling Git to return to a previous version of the repository
                overwrites the artifacts in the directory</li>
            <li>The idea is to restore the directory to its previous state</li>
            <li>If changes aren't versioned in the repository before such an
                operation is performed, the changes are lost</li>
            <li>If a previous version of an artifact doesn't exist, it is
                removed from the directory when returning to that version</li>
        </ul>
    </li>
</ul>
