<h1>Merge Without Special Commit</h1>

<ul>
    <li>There's a command to help with this process
        <ul>
            <li><kbd>git rebase "other_branch"</kbd></li>
        </ul>
    </li>
    <li>Recreates all commits of the current branch starting from an other
        branch</li>
    <li>After rebasing, the moved branch can be merged into the other branch
        <ul>
            <li>The <kbd>git merge</kbd> automatically detects if a special
                commit is necessary</li>
            <li>You can avoid the "fast-forward" behaviour with
                <kbd>git merge --no-ff</kbd></li>
        </ul>
    </li>
</ul>
