<h1>Remote Repositories</h1>

<ul>
    <li>Remote repositories can be referenced in the local repository</li>
    <li>Commits, branches and tags from remote repositories can be downloaded
        to the local repository</li>
    <li>Each branch from a remote repository can referenced in the local
        repository prefixed by the remote's name
        <ul>
            <li>Example: <kbd>my_remote/my_branch</kbd></li>
        </ul>
    </li>
    <li>Important commands
        <ul>
            <li><kbd>git clone "url"</kbd>: creates a local repository by
                copying the remote repository at the URL</li>
            <li><kbd>git remote add "name" "url"</kbd>: registers a remote
                repository reference "name" available at the given URL</li>
            <li><kbd>git remote rm "name"</kbd>: removes a remote reference</li>
            <li><kbd>git push "remote" "branch"</kbd>: sends the branch and all
                necessary commits to the remote</li>
            <li><kbd>git push "remote" "branch"</kbd>: sends the branch and all
                necessary commits to the remote</li>
            <li><kbd>git fetch "remote"</kbd>: retrieves all branches and tags
                from the remote, and the necessary commits, and updates the
                local references</li>
        </ul>
    </li>
</ul>
