<h1>Tags</h1>

<ul>
    <li>Tagging a commit allows referencing the commit with a friendlier name
        </li>
    <li>Internally, it is similar to a fixed pointer to a given commit</li>
    <li>Tags are used to mark important events
        <ul>
            <li>Published versions</li>
            <li>Tested versions</li>
        </ul>
    </li>
    <li>Example:
        <ul>
            <li><kbd>git tag my_first_commit HEAD</kbd></li>
            <li><kbd>git show my_first_commit</kbd></li>
        </ul>
    </li>
</ul>
