<h1>Third Branch</h1>

<ul>
    <li><kbd>git log --oneline --decorate --graph</kbd></li>
    <li><kbd>git checkout -b third_branch first_branch</kbd></li>
    <li><kbd>git branch</kbd></li>
    <li><kbd>git log --oneline --decorate --graph</kbd></li>
    <li><kbd>touch third_file</kbd></li>
    <li><kbd>git add third_file</kbd></li>
    <li><kbd>git diff --cached</kbd></li>
    <li><kbd>git commit</kbd></li>
    <li><kbd>git log --oneline --decorate --graph</kbd></li>
    <li><kbd>git log --oneline --decorate --all --graph</kbd></li>
    <li><kbd>git diff second_branch third_branch</kbd></li>
    <li><kbd>git diff third_branch second_branch</kbd></li>
</ul>
