<h1>Version Control System</h1>

<ul>
    <li>Tool to help managing digital artefacts (files)</li>
    <li>Focuses on managing artefact versions</li>
    <li>Focuses on facilitating usage by several people concurrently</li>
    <li><b>Repositories</b> are sets of artefacts managed together</li>
    <li>Several version control systems exist
        <ul>
            <li>Concurrent Versions Systems (CVS)</li>
            <li>Subversion (SVN)</li>
            <li>Mercurial (Hg)</li>
            <li>Git</li>
            <li>Fossil</li>
            <li>Bazaar</li>
        </ul>
    </li>
</ul>
