<h1>Viewing the History</h1>

<ul>
    <li>The <kbd>git log</kbd> command walks back through all commits starting
        from the current commit (HEAD)</li>
    <li>You can also specify which commit(s) it should start at</li>
    <li>Some useful options
        <ul>
            <li><kbd>--oneline</kbd>: shows only the title of each commit</li>
            <li><kbd>--decorate</kbd>: adds branch and tag information</li>
            <li><kbd>--all</kbd>: starts at all tags and branches, showing all
                reachable commits</li>
            <li><kbd>--graph</kbd>: draws lines to represent the tree</li>
        </ul>
    </li>
</ul>
