@import controllers.presentation.Presentation

@(presentation: Presentation)

<html>
    <head>
        <title>PCaPAC: @presentation.getTitle()</title>

        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/xterm.js/xterm.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/slide.css")" />

        <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css" />
        <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js">
        </script>
        <script src="@routes.Assets.at("javascripts/chartist.js/pointlabels-plugin.js")">
        </script>
        <script src="@routes.Assets.at("javascripts/chartist.js/logaxis-patch.js")">
        </script>

        <script src="@routes.Assets.at("javascripts/xterm.js/xterm.js")">
        </script>
        <script src="@routes.Assets.at("javascripts/xterm.js/addons/attach.js")">
        </script>
        <script src="@routes.Assets.at("javascripts/xterm.js/addons/fit.js")">
        </script>

        <script src="@controllers.routes.JavaScriptRoutes.jsRoutes()">
        </script>
    </head>

    <body>
        <div id="presentation">
            <div id="content-holder">
                <div id="content">
                </div>
            </div>

            @if(presentation.hasSideBar()) {
                <script src="@routes.Assets.at("javascripts/sidebar_listener.js")">
                </script>

                <div id="sidebar-button" class="collapsed">
                    <svg viewBox="0 0 240 140">
                        <path d="M120,20 L34,70 L120,120"/>
                        <path d="M220,20 L134,70 L220,120"/>
                    </svg>
                </div>
                <div id="sidebar-contents" class="collapsed">
                    @presentation.renderSideBar()
                </div>

                <script src="@routes.Assets.at("javascripts/sidebar_handler.js")">
                </script>
            }
        </div>

        <div id="footer">
            <div id="navigation">
                <div id="previous_slide">
                    <svg viewBox="0 0 140 140">
                        <path d="M120,20 L34,70 L120,120"/>
                    </svg>
                </div>
                <div id="sync_slides">
                    <svg id="play_button" viewBox="0 0 100 100">
                        <polygon points="86,50 0,0 0,100"/>
                    </svg>
                    <svg id="pause_button" style="display: none;" viewBox="0 0 90 90">
                        <rect x="0" y="0" width="30" height="90"/>
                        <rect x="60" y="0" width="30" height="90"/>
                    </svg>
                </div>
                <div id="next_slide">
                    <svg viewBox="0 0 140 140">
                        <path d="M20,20 L106,70 L20,120"/>
                    </svg>
                </div>
            </div>
        </div>

        <script src="@routes.Assets.at("javascripts/slide_navigation.js")">
        </script>
        <script src="@routes.Assets.at("javascripts/slide_animation.js")">
        </script>

        <script type="text/javascript">
            window.presentation_route = "@presentation.getName()";
            window.slide_navigation.go_to_slide(0, 0);
            window.slide_navigation.connect_to_sync_server();
        </script>
    </body>
</html>
