@(presentation_title: String, presentation_route: String)

<html>
    <head>
        <title>PCaPAC: @presentation_title</title>

        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/xterm.js/xterm.css")" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/slide.css")" />

        <script src="@routes.Assets.at("javascripts/xterm.js/xterm.js")">
        </script>
        <script src="@routes.Assets.at("javascripts/xterm.js/addons/attach.js")">
        </script>
        <script src="@routes.Assets.at("javascripts/xterm.js/addons/fit.js")">
        </script>

        <script src="@controllers.routes.JavaScriptRoutes.jsRoutes()">
        </script>
    </head>

    <body>
        <div id="content">
        </div>

        <div id="navigation">
            <div id="previous_slide"><a>Previous</a></div>
            <div id="sync_slides"><a>Play</a></div>
            <div id="next_slide"><a>Next</a></div>
        </div>

        <script src="@routes.Assets.at("javascripts/slide_navigation.js")">
        </script>
        <script src="@routes.Assets.at("javascripts/slide_animation.js")">
        </script>

        <script type="text/javascript">
            window.presentation_route = "@presentation_route";
            window.slide_navigation.show_slide(0, 0);
        </script>
    </body>
</html>
