<html>
    <head>
        <title>PCaPAC: Introduction to Git</title>
    </head>

    <body>
        <div id="content">
            @slides.title()
        </div>

        <div id="navigation">
            <div id="previous_slide"><a>Previous</a></div>
            <div id="sync_slides"><a>Play</a></div>
            <div id="next_slide"><a>Next</a></div>
        </div>

        <script src="@controllers.routes.Presentation.jsRoutes()">
        </script>
        <script src="@routes.Assets.at("javascripts/slide_navigation.js")">
        </script>
    </body>
</html>
