#navigation {
    margin-left: auto;
    margin-right: auto;
    display: table;

    div {
        float: left;
        margin: 10px;

        svg {
            height: 20px;

            path {
                fill: none;
                stroke: black;
                stroke-width: 20;
            }
        }
    }
}

[data-step-status='shown'] {
    visibility: visible
}

[data-step-status='active'] {
    visibility: visible
}

[data-step-status='hidden'] {
    visibility: hidden
}
