<h1>Commit</h1>

<ul>
    <li>Represents a version of the repository</li>
    <li>A commit is named by its SHA-1 hash</li>
    <li>References a full copy of the entire artifact tree in a given time
        frame</li>
    <li>Information stored in a commit:
        <ul>
            <li>Copy of each artefact (state)</li>
            <li>Title and description (why)</li>
            <li>Author (who)</li>
            <li>Data (when)</li>
            <li>Parent commit (from)</li>
        </ul>
    </li>
    <li>Important commands:
        <ul>
            <li><kbd>git commit</kbd></li>
            <li><kbd>git show</kbd></li>
            <li><kbd>git checkout</kbd></li>
        </ul>
    </li>
</ul>
