<h1>Git</h1>

<ul>
    <li>By Linus Torvalds to manage the Linux repository</li>
    <li>Decentralized
        <ul>
            <li>Every person (or computer) has a complete independent copy of
                the repository</li>
            <li>Internet connection only used to synchronize repositories</li>
        </ul>
    </li>
    <li>Manages versions of the artefact set as a whole
        <ul>
            <li>No need to manage versions of each artefact individually</li>
        </ul>
    </li>
    <li>Designed to work better with pure text files
        <ul>
            <li>Some helper features don't work with binary files</li>
        </ul>
    </li>
</ul>
